*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3B3C36;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0px;
    background-color: #333;
}

.navName {
    color: red;
    font-size: 24px;
}

/* Remove default link styling */
.navOpt a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}



.navOpt a:hover {
    color: red; /* Gold color on hover */
    scale: 1.09;
}

.navOpt {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
/* Mobile Styles */
@media (max-width: 768px) {
    .navOpt {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 200px;
        text-align: right;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .navOpt.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        color: white;
        font-size: 28px;
        cursor: pointer;
    }
}

/* Desktop Styles */
@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }
}
